.ticket {
    width: 50.2rem;
    height: 18.4rem;
    padding: 2rem;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: .5rem;

}

.ticket:not(:first-child) {
    margin-top: 2rem;
}